.container {
  margin-bottom: 20px;
  
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.form input,
.form select {
  flex: 1 1 150px;
}

.form textarea {
  flex: 1 1 100%;
}

.form button {
  flex: 0 0 auto;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  color: #1e293b;
}